# Banco de Dados
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=frotapm
DB_PORT=5432

# JWT
JWT_SECRET=your_secret_key_here

# API
PORT=3000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000
